<ion-header>
  <ion-toolbar>

    <ion-title>Añadir Estudiante en la Asignatura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>

          <ion-card-content>
            <table class="table">
              <thead>
                <th>Check</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Fijo</th>
                <th>Móvil</th>
              </thead>
              <tbody>
                <tr *ngFor="let globalStudent of studentService.students">
                  <td>
                    <button (click)="addStudentInSubject(globalStudent._id, subjectId)" data-dismiss="modal" class="btn btn-success">Añadir</button>
                  </td>
                  <td>{{ globalStudent.name }}</td>
                  <td>{{ globalStudent.address }}</td>
                  <td>{{ globalStudent.phones[0].value }}</td>
                  <td>{{ globalStudent.phones[1].value }}</td>
                </tr>
              </tbody>
            </table>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div>
              <ion-button (click)="openModal()" expand="block" type="submit" class="ion-no-margin">
                Añadir estudiante
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>